{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="flex items-center justify-center min-h-screen bg-gradient-to-br from-purple-900 to-blue-900 px-8">
    <div class="max-w-6xl w-full flex flex-row items-center gap-12 text-white">
        <div class="flex-1 text-left">
            <h2 style="margin-top: 30px;" class="text-4xl font-bold mb-4">Hi, Babe...</h2>
            <p class="text-xl mb-8">I hope you're well when reading this. If you are her, well done you found the most valuable part of my Portfolio</p>
            <p class="secret-container text-lg mb-8 bg-blue-500 p-4 rounded">This is a secret message just for you! And if you're reading this, I just wanna say that I love you
                I never have built this without your support. If this message finds you well, I hope it brings a smile to your face. Or else, I hope it inspires
                you to keep pushing forward. Whether you're feeling on top of the world or facing challenges, or either you are sorrow or in pain, just know that
                I'm here for you always. And if you are reading this from the day that I'm gone, I hope you carry my love with you. Because you know what?
                You are the most important person in my life, and I will always cherish the moments we've shared together.
                <br> <br>
                I'll always be here for you no matter what. I love you so much and I hope you have a wonderful day ahead.
                Remember that you are loved and appreciated more than words can express. I could say these words a million times and it still wouldn't be enough to
                convey how much you mean to me. You are my everything, and I am grateful for every moment we spend together. I feel like the luckiest man alive to have you in my life.
                I don't know why I made this... Well, I do know. I wanna make sure you always remember how much I love you and how limitless my adore you.
                <br> <br>
                <strong>"Always remember that you are loved, cherished, and supported in everything you do."</strong><br>
                <strong>"And no matter what happens, you will always have a special place in my heart."</strong><br>
                <strong>"Thank you for being you and accepting me as your own."</strong><br>
                <strong>"I love you, Lynn!!!"</strong>
            </p>

            <br>

            <a href="{% url 'home' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-12 rounded-full transition duration-300 inline-block mt-4">
                Back to Home
            </a>
        </div>

        <div class="flex-shrink-0">
            <img src="{% static 'img/lynn.jpeg' %}" alt="My Girlfriend" class="mt-32 ml-4j rounded-2xl object-cover shadow-2xl ring-4 ring-blue-400 max-w-md h-auto">
        </div>
    </div>
</section>
{% endblock %}
